.container {
  padding: 40px;
  font-family: Arial;
}

button {
  margin: 5px;
  padding: 8px 15px;
  background: green;
  color: white;
  border: none;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
}


@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}


.container {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.form-section input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #00c6ff;
  border: none;
  cursor: pointer;
}

.trial-card {
  background: #1c1c1c;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}
